.header-builder {
    .header-theme {
        padding: 10px 0;
        .header-theme-container {
            margin: 0 auto;
            padding-left: 80px;
            padding-right: 80px;
            display: flex;
            justify-content: space-between;
            .logo {
            color: #fff;
            font-size: 36px;
            line-height: 74px;
            text-decoration: none;
            &:hover {
                outline: 2px solid rgba(#7619df, 0.65) !important;
            }
            }
            .nav-container {
            cursor: pointer;
            a {
                color: #fff;
                font-size: 1.4rem;
                margin-left: 20px;
                line-height: 74px;
                text-decoration: none;
                &:first-child {
                margin-left: 0;
                }
            }
            &:hover {
                outline: 2px solid rgba(#7619df, 0.65) !important;
            }
            }
        }
        }
        .heading-section-one {
        text-align: center;
        padding-bottom: 120px;
        h4 {
            color: #fff;
            padding-top: 40px;
            font-size: 3.2rem;
            font-weight: 100;

            text-align: center;
        }
        p {
            color: #fff;
            font-size: 1.5rem;
            text-align: center;
        }
        a {
            padding: 15px 25px;
            background-color: #fff;
            margin-top: 50px !important;
            margin-bottom: 50px !important;
            position: relative;
            top: 40px;
            &:hover {
            color: #fff;
            text-decoration: none;
            }
        }
        }
        .heading-section-two {
        text-align: center;
        padding-bottom: 120px;
        .section-container {
            padding-left: 80px;
            padding-right: 80px;
            margin: 0 auto;
            text-align: left;
            display: flex;
            justify-content: space-between;
            h4 {
            color: #fff;
            padding-top: 40px;
            font-size: 3.2rem;
            font-weight: 100;
            text-align: left;
            position: relative;
            top: 40px;
            }
            p {
            color: #fff;
            font-size: 1.5rem;
            margin-bottom: 80px !important;
            text-align: left;
            position: relative;
            top: 40px;
            }
            a.btn-header {
            padding: 15px 25px;
            background-color: #fff;
            &:hover {
                color: #fff;
                text-decoration: none;
                outline: 2px solid rgba(#7619df, 0.65) !important;
            }
            }
            .section-media {
            background-color: transparent;
            padding: 150px 260px;
            max-height: 300px;
            max-width: 500px;
            top: 40px;
            cursor: pointer;
            &:hover {
                color: #fff;
                text-decoration: none;
                outline: 2px solid rgba(#7619df, 0.65) !important;
            }
            }
        }
        }

        .heading-subheading {
            cursor: pointer;
            &:hover {
                outline: 2px solid rgba(#7619df, 0.65) !important;
            }
        }
}
