// Fonts
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Archivo+Black|Cardo|Crimson+Text|Lato|Open+Sans|Oswald|Quicksand|Roboto");

.cardo {
    font-family: "Cardo", serif;
}
.lato {
    font-family: "Lato", sans-serif;
}
.oswald {
    font-family: "Oswald", sans-serif;
}
.roboto {
    font-family: "Roboto", sans-serif;
}
.crimson {
    font-family: "Crimson Text", serif;
}
.abril {
    font-family: "Abril Fatface", cursive;
}
.opensans {
    font-family: "Open Sans", sans-serif;
}
.quicksand {
    font-family: "Quicksand", sans-serif;
}
.archivo {
    font-family: "Archivo Black", sans-serif;
}
