.footer {
    background-color: $footer-background;
    padding-top: 80px;
    color: #636e74;
    font-weight: 400;
    font-size: 17px;
    border-top: 4px solid rgba(#636363, 0.2);
    .ready {
        background-image: url(/images/banner.png);
        background-position: center;
        background-size: cover;
        margin-bottom: 80px;
        padding: 80px 50px;
        h2 {
            font-size: 30px;
            padding: 5px 0;
        }
        .header-text {
            margin-top: 80px;
        }
    }
    .ft-logo {
        img {
            width: 60px;
            height: 24px;
        }
    }
    .social-img {
        width: 40px;
        height: 40px;
    }
}

.footer-line {
    border-color: rgba(#636363, 0.2);
}

.footer-widget {
    padding-bottom: 40px;
}

.footer-title {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 11px;
    color: $footer-title-color;
}

.footer-widget ul li a {
    text-transform: capitalize;
    font-size: 17px;
    color: $footer-link-color;
    display: block;
    font-weight: 100;
    margin-bottom: 8px;
    text-decoration: none;
}

.footer-widget ul li a:hover {
    color: $footer-link-color-hover;
    opacity: 0.75;
}

.tiny-footer {
    font-size: 14px;
    padding: 14px 0px;
    font-weight: 300;
    background-color: transparent;
    border-top: none;
    color: #888d90;
    line-height: 1;
}

.footer-copyright {
    margin: 11px 0 0 6px;
}
