.form-control:focus {
    color: #495057 !important;
    background-color: #fff  !important;
    border-color: $global-color  !important;
    outline: 0  !important;
    box-shadow: 0 0 0 0.2rem rgba($global-color, 0.25)  !important;
}

a.custom-link {
    color: $global-color !important;
    text-decoration: none !important;
    background-color: transparent !important;
    &:hover {
        color: rgba($global-color, 0.75) !important;
        text-decoration: underline !important;
    }
}


.custom-file-input:focus~.custom-file-label {
    border-color: $global-color  !important;
    box-shadow: 0 0 0 0.2rem rgba($global-color, 0.25)  !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: $global-color  !important;
    background-color: $global-color !important;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba($global-color, 0.25)  !important;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    border-color: $global-color  !important;
    background-color: rgba($global-color, 0.25) !important;
}
