.setupWizard {
    overflow-y: auto;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .progress {
        background-color: #eeeeef;
        border-radius: 0;
        height: 5px;
        width: 100%;
        z-index: 100;
        position: fixed;
        top: 57px;
        transition: width 0.5s;
        .progress-bar {
            background-color: $global-color;
            width: 20%;
        }
    }
    input[type="text"] {
        width: 100%;
        color: rgba($footer-link-color, 0.6);
        padding: 5px 10px;
        border: none;
        outline: none;
        text-align: center;
        font-size: 26px;
        font-weight: 500;
        &::placeholder {
            color: rgba($footer-link-color, 0.6);
        }
    }
    p {
        color: rgba($footer-link-color, 0.9);
        text-align: center;
    }
    .section {
        .card {
            background-color: #f9f9f9 !important;
            min-height: 200px !important;
            padding: 10px 0;
            cursor: pointer;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25) !important;
            transition: box-shadow 0.5s;
            img {
                height: 30% !important;
                width: 30% !important;
            }
            &:hover {
                box-shadow: 0px 0px 15px rgba($global-color, 0.65) !important;
            }
            h4 {
                color: rgba($footer-link-color, 0.8);
                text-align: center;
                font-size: 1rem;
            }
            .card-body.colors {
                margin-left: -40px;
                .color-rounded {
                    margin-right: -40px;
                    border-radius: 50%;
                    padding: 30px;
                    height: 80px;
                    width: 80px;
                }
            }
        }
    }
    .font-section {
        .card {
            height: 300px;
            h1 {
                padding-top: 20px;
            }
            p {
                padding-bottom: 20px;
            }
        }
    }
}

.color-rounded {
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .10);
    padding: 30px 40px;
    height: 40px !important;
    width: 40px !important;
    cursor: pointer;
}

.color-rounded-sm {
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .20);
    padding: 10px 20px;
    margin: 0 5px;
    height: 20px !important;
    width: 20px !important;
    cursor: default;
}

.color-rounded.selected {
    border: 1px solid $global-color !important;
}

.color-swatch-container {
    div {
        text-align: center;
        margin: 0 20px;
    }
    p {
        font-size: 12px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media (min-width: 992px) {
    .color-swatch-container {
        position: relative;
        top: 200px;
    }
}

@media (max-width: 992px) {
    .color-swatch-container {
        margin-left: 80px;
        position: relative;
        top: 60px;
    }
}
